# Project
PROJECT_NAME=frankenphp-prestashop
SERVER_NAME=:80
HTTP_PORT=8080
HTTPS_PORT=8443
HTTP3_PORT=8443

# Runtime versions
FRANKENPHP_IMAGE=dunglas/frankenphp:1.12.5-php8.4-bookworm
PRESTASHOP_VERSION=9.1.4

# Database
MARIADB_DATABASE=prestashop
MARIADB_USER=prestashop
MARIADB_PASSWORD=prestashop
MARIADB_ROOT_PASSWORD=prestashop-root
